body{
    margin: 0;
}
.title{
    font-size: 30px;
    margin: auto;
    text-decoration: none;
    color: #000000;
}
.label{
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: rgb(194, 241, 255);
    margin: 0;
}
.menu-btn {
    position: fixed;
    top: 10px;
    /* right: 10px; */
    left: 10px;
    display: flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #3584bb;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
    transition: all 0.5s;/*アニメーション設定*/
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
    background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}
#menu-btn-check {
    display: none;
}
.menu-content {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 100%;/*leftの値を変更してメニューを画面外へ*/
    z-index: 80;
    background-color: #3584bb;
    transition: all 0.5s;/*アニメーション設定*/
}
#menu-btn-check:checked ~ .menu-content {
    right: 70%;/*メニューを画面内へ*/
}


.menu-content ul {
    padding: 80px 10px 0;
}
.menu-content ul li {
    border-bottom: solid 1px #ffffff;
}
.menu-content ul li a {
    display: block;
    height: 25px;
    width: 100%;
    font-size: 15px;
    color:#ffffff;
    text-decoration: none;
    position: relative;
}